* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  transition: transform 0.25s;
  will-change: transform;
}

section > div {
  padding: 30px 0;
}

section > div > img {
  object-fit: cover;
  width: 800px;
  height: 800px;
}

section > div:nth-child(1) {
  padding-top: 10px;
}

section > div:last-child {
  padding-bottom: 10px;
}
